<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <body background="<%= url('/veggies.jpg')%>" bgcolor="green" bgproperties="fixed">
  <title>Chinese Zodiac</title>
  <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
</head>
<body>
  <div class="top input wrapper">
    <h1>Chinese Zodiac</h1>
    <div class="wrapper countdown"><h4> <%= result %> </h4>
    </div>
</body>
</html>
