<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <body background="<%= url('/veggies.jpg')%>" bgcolor="green" bgproperties="fixed">
  <title>Hangman Game</title>
  <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
</head>
<body>
  <div class="top input wrapper">
    <h1 >Hangman Game</h1>
    <h3> Enter a lowercase letter and hit Enter.</h3>
    <form method="get" action="/check">
    <input type="text" placeholder"Your guess" id="guess"  name="guess" type="letter"/>
    <input type="submit" value"Go">
</form>
    <h4><%=@guesses%></h4>
  </div>
  <div class="wrapper">
      <a href="#" class="button-one"></a>
  </div>

</body>
</html>




