<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <body background="<%= url('/veggies.jpg')%>" bgcolor="green" bgproperties="fixed">
  <title>Hangman Game</title>
  <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
</head>
<body>
  <div class="top input wrapper">
    <h1 >Guess a veggie</h1>
    <h3> Enter the plural name of a vegetable and hit Submit. Only full word guesses count. Capitalize.</h3>
    <form method="post">
    <input type="text" placeholder"Your guess" id="guess"  name="guess" type="letter"/>
    <input type="submit" value"Go">
</form>
  </div>
    <ul class="wrapper countdown"><h4> <%= flash[:info] %> </h4>
      <div id='flash'>
        <div class='flash info'></div>
      </div>
    </ul>
</body>
</html>

